* {
     margin: 0;
     padding: 0;

}

.toolbar {
     height: 20px;
     border: 2px solid black;
     background-color: blue;

}

#right>ul {
     display: flex;
     justify-content: center;
     justify-content: space-between;
     list-style: none;

}

#right>ul>button {
     border: 2px solid red;
     margin: 0 10px 0 0;

}

.main {
     border: 2px solid black;
     background-color: blueviolet;
     height: 100vh;
     width: 100%;


}

.left {

     height: 100vh;

     width: 50%;
     display: flex;
     align-items: center;
     position: absolute;
}

.left_data {
     border: 2px solid black;
     position: absolute;
     display: inline-block;
     top: 70px;

}

#top_btn {

     display: inline-block;

     border-radius: 20px;
     position: relative;
     left: 10%;


}

#top_btn>button {
     padding: 15px;
     border-radius: 20px;
     font-size: large;

}

#middle_text {
     display: inline-block;
     margin: 150px 30px;

}

#middle_text>h2 {
     margin-top: 20px;
}

#middle_text>p {
     margin: 50px 0 0;
}

#bottom_btn {
     display: inline-block;

     position: relative;
     left: 10%;

}

#bottom_btn>button {
     padding: 15px;
     border-radius: 20px;
     font-size: large;

}

.main2 {

     background-color: blue;
     height: 90vh;

}

.left2 {

     border: 2px solid black;
     height: 90vh;
     width: 500px;
}